{
  "extends": ["airbnb", "plugin:jest/recommended", "eslint:recommended", "plugin:react/recommended"],
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "mocha": true,
    "node": true,
    "jest": true
  },
  "parser": "typescript-eslint-parser",
  "plugins": [
    "react",
    "import",
    "prefer-object-spread",
    "jest"
  ],
  "settings": {
    "import/ignore": [
      "node_modules",
      "\\.json$"
    ],
    "import/extensions": [
      ".js",
      ".jsx",
      ".ts"
    ]
  },
  "globals": {
    "Promise": true,
    "window": true,
    "$": true,
    "ga": true,
    "jQuery": true,
    "router": true,
    "jest/globals": true,
    "shallow": true,
    "mount": true,
    "render": true
  },
  "rules": {
    "import/no-extraneous-dependencies": 0
  }
}