//@import '../../../styles/mixins.scss';
@import '../../../styles/main.scss';

.wrapper {
  background: firebrick;
  border: 1px solid green;
}

.appInner {
  border: 1px solid blue;
}

.title {
  font-size: rem(17px);
  min-height: rem(50px);
  //background: url('../../../images/fons2.jpg');
  font-family: $base_font;
}