@import 'mixins';
// @import 'fonts';

// ----------------------------------- variable --------------------------------//

$color-layout: #EEEEEE;
$color-layout-dark: #E2DEDE;
$color-logo: #B72E43;
$color-logo-dark: #8F121E;
$color-dark: #070707;
$color-background: #343A40;
$color-background-light: #DBD3D8;
$color-white: #fff;


$base-font: 'Roboto', sans-serif;




// ------------------------------ base styles ---------------------------------//

html {
  @include desktop() {
    font-size: 16px;
  }

  @include laptop() {
    font-size: 16px;
  }

  @include minilaptop() {
    font-size: 14px;
  }

  @include tablet() {
    font-size: 12px;
  }

  @include phone() {
    font-size: 11px;
  }
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  background: $color-white;
  min-width: 320px;
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.container {
  max-width: rem(800px);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;
  height: 100%;
}
